<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<ul>
  <p style="font-size: 25px">Instagram</p>
  <li><a href="home"><i class="fa fa-home" style="font-size: 25px;"></i>Home</a></li>
  <li><a href="profile"><i class="fa fa-user" style="font-size: 25px;"></i>Profile</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <img src="./assets\pic\cat1.jpg" class="w3-circle" alt="Norway" style="width:10%" >
  <h2>shibasweety</h2>
  <a>9 posts</a>
  <a>30 posts</a>
  <a>107 posts</a>
  <p>陳致遠</p>
  <hr>
  <a routerLink="posts">POSTS</a>
  <a routerLink="saved">SAVED</a><br>
  <!-- 要用tab去改不是用路由寫 -->

  <img src="./assets\pic\dog1.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
  <img src="./assets\pic\dog2.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
  <img src="./assets\pic\dog3.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
  <img src="./assets\pic\dog4.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
  <img src="./assets\pic\dog5.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
  <img src="./assets\pic\dog6.jpg" alt="cute dog" style="width:300px;height:250px;padding:5px">
</div>

</body>
</html>
<router-outlet></router-outlet>
